* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./img/pexels-pixabay-wood.jpg") center center/cover;
  width: 56vh;
  height: 80vh;
  padding-top: 6vh;
  box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
  border-radius: 8px;
}

.clock {
  width: 45vh;
  height: 45vh;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(136, 136, 136, 0.77);
}

.clock .number {
  --rotation: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 3.5vh;
  font-weight: 500;
  padding: 10px;
}

.clock .number.number-1 {
  --rotation: 30deg;
}
.clock .number.number-2 {
  --rotation: 60deg;
}
.clock .number.number-3 {
  --rotation: 90deg;
}
.clock .number.number-4 {
  --rotation: 120deg;
}
.clock .number.number-5 {
  --rotation: 150deg;
}
.clock .number.number-6 {
  --rotation: 180deg;
}
.clock .number.number-7 {
  --rotation: 210deg;
}
.clock .number.number-8 {
  --rotation: 240deg;
}
.clock .number.number-9 {
  --rotation: 270deg;
}
.clock .number.number-10 {
  --rotation: 300deg;
}
.clock .number.number-11 {
  --rotation: 330deg;
}

/* Ponteiros */

.clock::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 11;
  background-color: black;
  transform: translate(-50%, -50%);
}
.clock .hand {
  --rotation: 0;

  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: black;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  border-radius: 10px;
}

.clock .hand.seconds {
  width: 2px;
  height: 40%;
  background-color: red;
}
.clock .hand.minutes {
  width: 5px;
  height: 35%;
  background-color: black;
}
.clock .hand.hours {
  width: 7px;
  height: 25%;
  background-color: black;
}

.digitalVersion {
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
  font-size: 10vh;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9), 0 0 20px rgba(0, 0, 0, 0.9);
}

.digitalVersion .separator {
  font-size: 9vh;
}
